$gray-default: #262626;
$gray-second: #111;
$gray-third: #2e2c2c;

$offwhite-default: #c7d4e8;

$purple-default: #9100a6;

$blue-default: #9fadc4;

$black-background: #0a0a0adb;
$black-background-moreBlack: #0a0a0aec;