<div class="professional-history"
  [ngClass] = "{ 'darkMode': darkMode$ | async, 'whiteMode': !(darkMode$ | async) }"
>
  <h1>Professional history</h1>

  <div class="book">
    <img src="/assets/book.png" alt="book">
    
    <div class="book-left">
      <img src="/assets/logoCompleta.png" alt="kkphoenix logo">
    </div>

    <div class="book-right">
      
      <p>Let me show you my skills and write this history with your comany</p>
    </div>
  </div>

  <p>When I get my job, it will be listed here and it will be a 3D book! Check it out later to see those changes</p>

</div>
