<div class="first-container"
  [ngClass]="{
    'backgroundHelloContainerDarkMode': isDarkMode,
    'backgroundHelloContainerWhiteMode': !isDarkMode
  }"
>
  <div *ngIf="readyToContent && animate" #helloBackground class="background">
    <img #bgImg *ngFor="let lang of listOfFrameworks" [ngSrc]="'/assets/svg/' + lang + '.svg'" width="70" height="70" alt="" loading="lazy">
  </div>

  <div class="hello-container">

    <div class="image-container">
      <div class="image-backgound">
        <img ngSrc="/assets/logoCompleta.webp" alt="logo-Kauã-Alves-Santos" width="220" height="176" priority>
      </div>
      <p>{{ 'OLD_HERO.NAME' | translate }}</p>
      <p>{{ 'OLD_HERO.NICKNAME' | translate }}</p>
    </div>
    <div class="text-effect-container">
      <!-- animated text -->
      <h1 *ngIf="animate">
        <span class="sr-only">{{ 'OLD_HERO.GREETING' | translate }}</span>
        <span aria-hidden="true">{{text}}<span></span></span>
      </h1>
        <ng-template [ngIf]="!animate">
          <h1>{{ 'OLD_HERO.GREETING' | translate }}</h1>
        </ng-template>

      
      <div class="links">

        <a class="info-button" style="font-size: 1.2rem;" href="/assets/Curriculo-English.pdf" download="Curriculo-English.pdf" [attr.aria-label]="'OLD_HERO.DOWNLOAD_RESUME' | translate">
          <img ngSrc="/assets/pdfIcon.webp" width="28" height="28" alt="">
          <p>{{ 'OLD_HERO.DOWNLOAD_RESUME' | translate }}</p>
        </a>

        <a class="info-button" href="https://www.linkedin.com/in/kkphoenix/" aria-label="LinkedIn Profile">
          <img ngSrc="/assets/linkedIn.webp" width="28" height="28" alt="">
          <p>LinkedIn</p>
        </a>

        <a class="info-button" href="https://github.com/kkphoenixgx" [attr.aria-label]="'OLD_HERO.GITHUB' | translate">
          <img ngSrc="/assets/githubIcon.webp" width="28" height="28" alt="">
          <p>{{ 'OLD_HERO.GITHUB' | translate }}</p>
        </a>


      </div>
    </div>
  </div>
</div>
