<div class="first-container"
  [ngClass]="{
    'backgroundHelloContainerDarkMode': isDarkMode,
    'backgroundHelloContainerWhiteMode': !isDarkMode
  }"
>
  <div *ngIf="readyToContent && animate" #helloBackground class="background">
    <img #bgImg *ngFor="let lang of listOfFrameworks" [ngSrc]="'/assets/svg/' + lang + '.svg'" width="70" height="70" alt="" loading="lazy">
  </div>

  <div class="hello-container">

    <div class="image-container">
      <div class="image-backgound">
        <img ngSrc="/assets/logoCompleta.webp" alt="logo-Kauã-Alves-Santos" width="176" height="176" priority>
      </div>
      <p>Kauã Alves Santos</p>
      <p>kkphoenix</p>
    </div>
    <div class="text-effect-container">
      <!-- animated text -->
      <h1 *ngIf="animate">
        <span class="sr-only">Welcome!! My name is Kauã Alves Santos, I am a fullstack web developer. Please checkout my portfolio and enjoy my site.</span>
        <span aria-hidden="true">{{text}}<span></span></span>
      </h1>
        <ng-template [ngIf]="!animate">
          <h1>Welcome!! My name is Kauã Alves Santos, I am a fullstack web developer, please checkout my portfolio and enjoy my site.</h1>
        </ng-template>

      
      <div class="links">

        <a class="info-button" style="font-size: 1.2rem;" href="/assets/Curriculo-English.pdf" download="Curriculo-English.pdf">
          <img ngSrc="/assets/pdfIcon.webp" width="28" height="28" alt="">
          <p>Download Resume</p>
        </a>

        <a class="info-button" href="https://www.linkedin.com/in/kkphoenix/">
          <img ngSrc="/assets/linkedIn.webp" width="28" height="28" alt="">
          <p>LinkedIn</p>
        </a>

        <a class="info-button" href="https://github.com/kkphoenixgx">
          <img ngSrc="/assets/githubIcon.webp" width="28" height="28" alt="">
          <p>GitHub</p>
        </a>


      </div>
    </div>
  </div>
</div>
