@use "../../../../../styles/variables.scss" as *;

.ulFileNavigator {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Aplica recuo e linha lateral apenas para ULs filhos diretos de detalhes */
.detailsFileNavigator > .ulFileNavigator {
  padding-left: 1rem;  // espaço para arquivos dentro da pasta
  margin-left: 0.5rem; // distância do summary
}

/* Itens da lista (arquivos e pastas) */
.liFileNavigator {
  margin-top: 0.5rem;
  list-style: none;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  &.darkMode {
    color: #fff;
    a { color: white; -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1); }
    .detailsFileNavigator > .ulFileNavigator {
      border-left: 2px solid rgba(255, 255, 255, 0.2);
    }
    .summaryFileNavigator {
      background-color: $gray-second;
    }
  }

  &.whiteMode {
    color: black;
    a { color: black; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }
    .detailsFileNavigator > .ulFileNavigator {
      border-left: 2px solid rgba(0, 0, 0, 0.2);
    }
    .summaryFileNavigator {
      background-color: #e0e0e0;
    }
  }
}

/* Links de arquivos */
.liFileNavigator a {
  text-decoration: none;
}

/* Pastas */
.detailsFileNavigator {
  margin-top: 0.3rem;
  cursor: pointer;
}

/* Último arquivo da pasta recebe margem inferior */
.detailsFileNavigator > .ulFileNavigator > .liFileNavigator:last-child {
  margin-bottom: 1rem; // ajuste o valor conforme preferir
}

/* Resumo da pasta */
.summaryFileNavigator {
  border-bottom: 1px solid $purple-default;
  padding: 0.5rem 1rem;
  display: block;
}

.liFileNavigator.last {
  margin-bottom: 1.4rem;
}
