<ul class="ulFileNavigator">
  <ng-container *ngFor="let item of items; let last = last">

    <!-- PASTA -->
    <ng-container *ngIf="isFolder(item); else fileTemplate">
      <li class="liFileNavigator" 
          [class.last]="last"
          [ngClass]="{ 'darkMode': darkMode$ | async, 'whiteMode': !(darkMode$ | async) }">
        <details class="detailsFileNavigator">
          <summary class="summaryFileNavigator">{{ item.title }}</summary>

          <ul class="ulFileNavigator">
            <app-file-navigator [items]="item.items" [depth]="depth + 1"></app-file-navigator>
          </ul>
        </details>
      </li>
    </ng-container>

    <!-- ARQUIVO -->
    <ng-template #fileTemplate>
      <li class="liFileNavigator" 
          [class.last]="last"
          [ngClass]="{ 'darkMode': darkMode$ | async, 'whiteMode': !(darkMode$ | async) }">
        <a [routerLink]="[item.path]" (click)="logClick(item)">{{ item.title }}</a>
      </li>
    </ng-template>

  </ng-container>
</ul>
