@use "../../../../styles/variables.scss" as *;


.container-hire-me {
  width: 100vw;
  height: 90vh;
  align-items: center;
  display: flex;
  justify-content: center;

  .container-me-logo {
    img {
      width: 200px;
    }
    h3 {
      font-size: 1rem;
      text-align: center;
    }
  }

  .container-me-info {
    margin-left: 2vw;
    a {
      text-decoration: none;
    }
  }
}

//? ----------- Helpers -----------

// ----------- Darkmode -----------

.darkMode {
  background-color: $gray-second;
  color: white;
}
.text-darkMode {
  color: white;
}
.link-darkMode {
  color: $purple-default;
}

// ----------- White mode -----------

.whiteMode {
  background-color: $offwhite-default;
  color: black;
}
.text-whiteMode {
  color: black;
}
.link-whiteMode {
  color: $blue-default;
}


// ----------- Responsividade -----------

/* Smartphones (portrait) */
@media only screen and (max-width: 600px) {
  .container-hire-me {
    flex-direction: column;

    .container-me-logo {
      margin-bottom: 3%;
    }

  }
}
