.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  justify-content: space-between;
}

.h1-container{
  height: 15vh;
  color: white;
  align-content: center;
  text-align: center;
}

.configMenu-container{
  position: absolute;
  top: 14vh;
  right: -32vw;
  transition: right 0.5s;
  transition-timing-function: cubic-bezier(.5,.82,1,1.36);
  z-index: 999999999999999999999999; //  Never gonna be backwards again
}

.configMenu{
  
  width: 32vw;
  padding: 4%;
  display: flex;
  flex-direction: column;

}

.configMenu h3{
  text-align: center;
  margin-bottom: 10%;
}

.itemMenuConfig{
  align-items: center;
  padding: 4%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: initial;
}

.itemMenuConfig p{
  max-width: 50%;
}
.sideMenu{
  position: absolute;
  top: 0;
  transition: ease-in-out;
}

// ----------- DarkMode -----------

.darkMode{
  color: #FFFFFF;
}
.whiteMode{
  color: #000000;
}
.backgroundDarkMode{
  background-color: #000000;
}
.backgroundWhiteMode{
  background-color: #FFFFFF;
}

// ----------- Slider Button -----------
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Classe para slider OFF */
.slider-off {
  background-color: #ccc;
}

.slider-off:before {
  transform: translateX(0);
}

/* Classe para slider ON */
.slider-on {
  background-color: #680068;
}

.slider-on:before {
  transform: translateX(20px);
}

// ----------- Animations -----------

.rotate-animation {
  animation: rotate 2s linear infinite;
}
.no-animation {
  animation: none;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

// ----------- Responsive -----------

/* Smartphones (portrait) */
@media only screen and (min-width: 320px) and (max-device-width: 767px) {

  .configMenu{
    width: 55vw;
  }

} 

// /* iPads (portrait and landscape) */
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { /* Styles */ }
// /* Desktops and laptops */
// @media only screen and (min-width: 1224px) { /* Styles */ }
