<header>

  <div class="container"
    [ngClass]="{
      'backgroundDarkMode': toogleDarkMode,
      'backgroundWhiteMode': !toogleDarkMode
    }"
  >

    <app-side-menu #sideMenu [style.left]="toogleSideBarMenu ? '0' : '-50vw' " class="sideMenu" ></app-side-menu>

    <button class="icon-btn menu-btn"
      [ngClass]="{
        'darkMode': toogleDarkMode,
        'whiteMode': !toogleDarkMode
      }" 
      aria-label="Toggle Sidebar menu"
      (click)="handleSideBarMenu()"
    >
      <mat-icon aria-hidden="true" focusable="false" tabindex="-1">menu</mat-icon>
    </button>
    
    <ng-template [ngIf]="!toogleAnimations">
      <div class="h1-container"
        [ngClass]="{
          'darkMode': toogleDarkMode,
          'whiteMode': !toogleDarkMode
        }"
      >
        KKPHOENIX
      </div>
    </ng-template>

    <ng-template [ngIf]="toogleAnimations && readyToContent">      
      <app-text3d></app-text3d>
    </ng-template>

    <button class="icon-btn settings-btn"
      [ngClass]="
        { 
          'rotate-animation': ( toogleAnimations && toogleSettingsAnimate),
          'no-animation': (!toogleAnimations && !toogleSettingsAnimate),
          'darkMode': toogleDarkMode,
          'whiteMode': !toogleDarkMode
        }" 
      aria-label="Open Settings Menu"
      (click)="handleMenuClick()"
    >
      <mat-icon aria-hidden="true" focusable="false" tabindex="-1">settings</mat-icon>
    </button>
  </div>

  <app-config-menu #configMenu></app-config-menu>

</header>