<header>

  <div class="container"
    [ngClass]="{
      'backgroundDarkMode': toogleDarkMode,
      'backgroundWhiteMode': !toogleDarkMode
    }"
  >

    <app-side-menu #sideMenu [style.left]="toogleSideBarMenu ? '0' : '-50vw' " class="sideMenu" ></app-side-menu>

    <mat-icon style="margin-left: 2vw;" [ngClass]="{'darkMode': toogleDarkMode,'whiteMode': !toogleDarkMode}" 
      (click)="handleSideBarMenu()"
    >
      menu
    </mat-icon>
    
    <ng-template [ngIf]="!toogleAnimations">
      <h1 class="h1-container"
        [ngClass]="{
          'darkMode': toogleDarkMode,
          'whiteMode': !toogleDarkMode
        }"
      >
        KKPHOENIX
      </h1>
    </ng-template>

    <ng-template [ngIf]="toogleAnimations && readyToContent">      
      <app-text3d></app-text3d>
    </ng-template>

    <mat-icon
      [ngClass]="
        { 
          'rotate-animation': ( toogleAnimations && toogleSettingsAnimate),
          'no-animation': (!toogleAnimations && !toogleSettingsAnimate),
          'darkMode': toogleDarkMode,
          'whiteMode': !toogleDarkMode
        }" 
      style="margin-right: 2vw;" (click)="handleMenuClick()" 
    >settings</mat-icon>
  </div>

  <div class="configMenu-container" id="configMenuContainer">
    <ul class="configMenu"
    [style.background-color]="toogleDarkMode ? 'rgb(112, 112, 112)' : 'rgb(189, 206, 232)'"
    >
      <h3>Menu</h3>
      <li class="itemMenuConfig">
        <p>Toogle lamp of dark mode</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider" (click)="handleToogleLamp()" 
            [ngClass]="{'slider-on': !toogleBtnDarkMode, 'slider-off': toogleBtnDarkMode}"
          ></span>
        </label>
      </li>
      <li class="itemMenuConfig">
        <p>Toogle animations</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider" (click)="handleToogleAnimations()"
            [ngClass]="{'slider-on': toogleAnimations, 'slider-off': !toogleAnimations}"
          ></span>
        </label>
      </li>
    </ul>
  </div>

  <ng-template #lampContainer></ng-template>

</header>