<header>

  <div class="container"
    [ngClass]="{
      'backgroundDarkMode': toogleDarkMode,
      'backgroundWhiteMode': !toogleDarkMode
    }"
  >

    <app-side-menu #sideMenu [style.left]="toogleSideBarMenu ? '0' : '-50vw' " class="sideMenu" ></app-side-menu>

    <mat-icon style="margin-left: 2vw;" [ngClass]="{'darkMode': toogleDarkMode,'whiteMode': !toogleDarkMode}" 
      (click)="handleSideBarMenu()"
    >
      menu
    </mat-icon>
    
    <ng-template [ngIf]="!toogleAnimations">
      <h1 class="h1-container"
        [ngClass]="{
          'darkMode': toogleDarkMode,
          'whiteMode': !toogleDarkMode
        }"
      >
        KKPHOENIX
      </h1>
    </ng-template>

    <ng-template [ngIf]="toogleAnimations && readyToContent">      
      <app-text3d></app-text3d>
    </ng-template>

    <mat-icon
      [ngClass]="
        { 
          'rotate-animation': ( toogleAnimations && toogleSettingsAnimate),
          'no-animation': (!toogleAnimations && !toogleSettingsAnimate),
          'darkMode': toogleDarkMode,
          'whiteMode': !toogleDarkMode
        }" 
      style="margin-right: 2vw;" (click)="handleMenuClick()" 
    >settings</mat-icon>
  </div>

  <app-config-menu #configMenu></app-config-menu>

</header>