@use "../../../../styles/variables.scss" as *;

$x-size: 50px;
$x-line-thickness: 5px;

.menu-container{
  width: 30vw;
  height: 100vh;
  position: relative;
  z-index: 5;
  background-color: $gray-default;
  transition: ease-in-out 0.5s;
  top: 0;
}

.x-icon {
  position: relative;
  width: $x-size;
  height: $x-size;
  margin: 0 auto;
  margin-top: 5%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: $x-line-thickness;
    background-color: black;
    transform-origin: center;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg); // Rotaciona a primeira linha
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg); // Rotaciona a segunda linha
  }
}


// ----------- Responsive -----------

/* Smartphones (portrait) */
@media only screen and (min-width: 320px) and (max-device-width: 767px) {
  $x-size-small: 30px; // Tamanho do X para telas menores

  .x-icon {
    width: $x-size-small;
    height: $x-size-small;
  }

  .menu-container{
    width: 40vw;
  }
} 

/* iPads (portrait and landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { 

}

/* Desktops and laptops */
@media only screen and (min-width: 1224px) {

}
