@use "../../../../styles/variables.scss" as *;

$x-size: 50px;
$x-line-thickness: 5px;

.menu-container{
  width: 30vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  transition: ease-in-out 0.5s;
  top: 0;
  overflow-y: auto; /* Permite scroll se o conteúdo estourar a altura */
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.3); /* Sombra para destacar o menu */

  &.darkMode {
    background-color: $gray-default;
    .extra-links li a { color: white; }
  }

  &.whiteMode {
    background-color: #f5f5f5;
    .extra-links li a { color: black; }
  }
}

.x-icon {
  position: relative;
  width: $x-size;
  height: $x-size;
  margin: 0 auto;
  margin-top: 5%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: $x-line-thickness;
    background-color: black;
    transform-origin: center;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg); // Rotaciona a primeira linha
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg); // Rotaciona a segunda linha
  }
}

/* Espaçamento para o navegador de arquivos ficar mais clean */
app-file-navigator {
  display: block;
  padding: 1rem 2rem 1rem 2rem;
}

.extra-links {
  list-style: none;
  padding: 2rem 2rem 3rem 2rem;
  margin: 0;
  border-top: 2px solid $gray-third;
  text-align: center;

  li {
    margin-bottom: 1rem;

    a {
      text-decoration: none;
      font-size: 1.1rem;
      transition: ease-in-out 0.3s;

      &:hover {
        color: $purple-default;
        font-size: 1.3rem;
      }
    }
  }
}

// ----------- Responsive -----------

/* Smartphones (portrait) */
@media only screen and (max-width: 767px) {
  $x-size-small: 30px; // Tamanho do X para telas menores

  .x-icon {
    width: $x-size-small;
    height: $x-size-small;
  }

  .menu-container{
    width: 80vw; /* Aumenta largura no mobile para caber melhor o conteúdo */
  }
} 

/* iPads (portrait and landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { 

}

/* Desktops and laptops */
@media only screen and (min-width: 1224px) {

}
