<!-- ../../../../../ -->

<div class="history-component" #mainContainer
  [ngClass]="{ 'darkMode': (darkMode$ | async), 'whiteMode': !(darkMode$ | async) }"
>
  
  <div class="three-container" #threeContainer [hidden]="!(animate$ | async)">
    <canvas #historyCanvas style="width: 100%; height: 100%; display: block;"></canvas>
  </div>
  
  <div #contentContainer class="content-container"
    [style.color]="(darkMode$ | async) ? '#fff' : '#000' "
  >
      
    <h3>{{ 'HISTORY.WHO_I_AM' | translate }}</h3>
    
    <div class="photoProfile-container">

      <div class="mySelfImage">
        <img src="/assets/myselfCutted.png" alt="Kauã Alves photo">
        <div class="container-photo-text">
          <p>{{ 'HISTORY.PHOTO_DESC_1' | translate }}</p>
          <p>{{ 'HISTORY.PHOTO_DESC_2' | translate }}</p>
          <p>{{ 'HISTORY.PHOTO_DESC_3' | translate }}</p>
        </div>
      </div>

    </div>

    <div class="container-center first-container">

      <p #pFadeInY [innerHTML]="'HISTORY.ASTRONOMY_DESC' | translate"></p>
      <p #pFadeInY [innerHTML]="'HISTORY.COVID_DESC' | translate"></p>
      <p [innerHTML]="'HISTORY.PASSION_DESC' | translate"></p>

      
    </div>

    <h3 style="margin-top: 5%;">{{ 'HISTORY.ACADEMIC_CAREER' | translate }}</h3>
    
    <div class="container-right">
      
      <div class="imgCiep-contanier">
        <img #pFadeInX src="assets/ciep358.png" alt="middle scholl">
        <p class="description" >Ciep 358 - Nova Iguaçu-Rj</p>
      </div>

      <p #pFadeInX [innerHTML]="'HISTORY.CIEP_DESC' | translate"></p> 

      <p #pFadeInX [innerHTML]="'HISTORY.GREETING_PROF' | translate"></p>

      
    </div>

    <div class="container-left">
      <div class="cefet-container">
        <img #pFadeInX src="assets/cefet.jpg" alt="college">
        <p class="description">Centro Federal de Educação Tecnológica Celso Suckow da Fonseca (CEFET/RJ) Uned Nova Friburgo</p>
      </div>

      <p #pFadeInX [innerHTML]="'HISTORY.CEFET_DESC' | translate"></p>
      <p #pFadeInX [innerHTML]="'HISTORY.TCC_DESC' | translate"></p>
    </div>  
  </div>

</div>