@use "../../../../styles/variables.scss" as *;

// #ccc fundo
.history-component {
  background-color: $gray-second;
  position: relative;
  width: 100vw;
  min-height: 331vh;
  overflow: hidden;

  .three-container {
    position: relative;
    inset: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    min-height: 331vh;
    z-index: 1;
    pointer-events: none;

    @media only screen and (max-device-width: 767px) {
      height: 250vh;
    }
  }

  .content-container {
    position: absolute;
    z-index: 2;
    top: 0;

    p {
      margin: 0 6% 2.3%;
      text-align: center;
      text-wrap: balance;
    }

    h3 {
      font-size: 1.6rem;
      text-align: center;
      margin-bottom: 3%;
      padding: 3%;
      text-decoration: overline;
    }
  }

  .photoProfile-container {
    position: relative;

    .mySelfImage {
      width: 80vw;
      display: flex;
      margin: 0 auto 7vw;
      justify-content: space-evenly;

      img {
        position: relative;
        width: 200px;
        min-width: 200px;
        max-width: 200px;
        min-height: 200px;
        max-height: 200px;
        background: #0d0d0d;
        border-radius: 100%;
        border: 2px solid transparent;
        top: 20px;
        z-index: 3;

        @media only screen and (max-device-width: 767px) {
          top: 0;
        }
      }

      @media only screen and (max-device-width: 767px) {
        flex-direction: column;
        align-items: center;
      }
    }

    .container-photo-text {
      display: flex;
      flex-flow: column;
      margin-top: 5%;

      p {
        max-width: 40vw;

        @media only screen and (max-device-width: 767px) {
          max-width: 100%;
        }
      }

      @media only screen and (max-device-width: 767px) {
        width: 100%;
        align-items: center;
      }
    }
  }

  .first-container {
    margin-top: 3vh;
  }

  .container-center {
    align-items: center;
    text-align: center;

    p {
      transform: translateY(20px);
      opacity: 0;
      transition: 2s ease;
    }
  }

  .container-right {
    align-items: right;
    text-align: right;
    margin-left: 39%;

    p {
      text-align: right;
      transform: translateX(100px);
      opacity: 0;
      transition: 1.5s ease;
    }

    img {
      transform: translateX(100px);
      opacity: 0;
      transition: 1.5s ease;
    }

    button {
      min-width: 12vw;
      height: 5vh;
      margin-right: 6%;
      background-color: rgba(144, 144, 144, 0.64);
      border-radius: 6%;
      border: none;
      color: #ede3e3;
    }

    @media only screen and (max-device-width: 767px) {
      margin-left: 18%;
    }
  }

  .container-left {
    align-items: left;
    text-align: left;

    p {
      text-align: left;
      transform: translateX(-100px);
      opacity: 0;
      transition: 1.5s ease;
    }

    img {
      transform: translateX(-100px);
      opacity: 0;
      transition: 1.5s ease;
    }
  }

  .imgCiep-contanier img,
  .cefet-container img {
    width: 400px;
    margin: 0 6% 2vw;

    @media only screen and (max-device-width: 767px) {
      width: 300px;
    }
  }

  .cefet-container img {
    margin-top: 3vh;
  }

  // ----------- Helpers -----------
  .description {
    font-weight: bold;
    color: #fff;
  }

  .fadeInOnScrollY {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }

  .fadeInOnScrollX {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}
