.text3d-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-grow: 1; // Permite que o contêiner ocupe o espaço disponível no header
  height: 100%; // Ocupa a altura do pai (header)
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ----------- Helpers -----------

.hide-canvas{
  display: none;
}
.show-canvas{
  display: flex;
}