<div class="configMenu-container" 
  [ngClass]="{
    'showConfigMenu': toggleConfigMenu,
    'hideConfigMenu': !toggleConfigMenu,
    'darkMode': toggleDarkMode$ | async,
    'whiteMode': !(toggleDarkMode$ | async)
  }"
>
  <div class="configMenu"
  [style.background-color]=" (toggleDarkMode$ | async) ? '#262626' : '#f5f5f5'"
  [style.color]=" (toggleDarkMode$ | async) ? '#ffffff' : '#000000'"
  role="region" aria-label="Settings Menu"
  >
    <h2>Menu</h2>
    <div class="itemMenuConfig">
      
      <div class="toggleDarkModeItem"
        *ngIf="((toggleAnimations$ | async) && lampComponentRef); else elseTemplate" 
      >
        <span>Destroy Lamp</span>
        <button (click)="handleDestroyButton()" aria-label="Destroy Lamp Physics">Destroy</button>
      </div>
      
      <ng-template #elseTemplate class="toggleLampItem">
        <div class="toggle-container">
          <label class="label-text" for="dark-mode-toggle">Toggle Dark Mode</label>
          <label class="switch" for="dark-mode-toggle">
            <input type="checkbox" id="dark-mode-toggle" [checked]="toggleDarkMode$ | async" (change)="handleToggleDarkMode()" class="sr-only">
            <span class="slider" 
              [ngClass]="{'slider-on': toggleDarkMode$ | async, 'slider-off': !(toggleDarkMode$ | async) }"
            ></span>
          </label>
        </div>
      </ng-template>
    </div>
    <div class="itemMenuConfig">
      <div class="toggle-container">
        <label class="label-text" for="animations-toggle">Toggle animations</label>
        <label class="switch" for="animations-toggle">
          <input type="checkbox" id="animations-toggle" [checked]="toggleAnimations$ | async" (change)="handleToggleAnimations()" class="sr-only">
          <span class="slider"
            [ngClass]="{'slider-on': (toggleAnimations$ | async), 'slider-off': !(toggleAnimations$ | async)}"
          ></span>
        </label>
      </div>
    </div>
  </div>
</div>

<ng-container #lampContainer></ng-container>