@use "../../styles/variables.scss" as *;

// ----------- Nice to meet you -----------

.choice-hsitory {
  display: flex;
  background-color: #000000;
  width: 100%;
  text-align: center;
}
.choice-hsitory ul {
  display: flex;
  color: white;
  width: 100%;
}
.choice-hsitory li {
  padding: 2%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

// ----------- Helpers -----------

.currentTab {
  border-bottom: 3px solid $purple-default;
}


// ----------- Animations -----------

@keyframes moveY {
  from {
    transform: translateY(0);
  }
  to {
      transform: translateY(550px);
  }
}
