<div class="first-container"
  [ngClass]="{
    'backgroundHelloContainerDarkMode': isDarkMode,
    'backgroundHelloContainerWhiteMode': !isDarkMode
  }"
>
  <div *ngIf="readyToContent && animate" #helloBackground class="background"

  ></div>

  <div class="hello-container">

    <div class="image-container">
      <img src="/assets/logoCompleta.png" alt="logo-Kauã-Alves-Santos">
      <p>Kauã Alves Santos</p>
      <p>kkphoenix</p>
    </div>
    <div class="text-effect-container">
        <h2 *ngIf="animate">{{text}}<span></span></h2>
      <ng-template [ngIf]="!animate">
        <h2>Wellcome!! My name is Kauã Alves Santos, I am a fullstack web developer, please checkout my portifolio and enjoy my site.</h2>
      </ng-template>

      <div class="links">

        <a class="info-button" href="https://www.linkedin.com/in/kkphoenix/">
          <img src="assets/LinkedIn.png" alt="">
          <p>LinkedIn</p>
        </a>

        <a class="info-button" href="https://github.com/kkphoenixgx">
          <img src="assets/githubIcon.png" alt="linkedIn icon">
          <p>GitHub</p>
        </a>

        <a class="info-button" href="assets/Curriculo-English.pdf" download="Curriculo-English.pdf">
          <img src="assets/pdfIcon.png" alt="pdf icon">
          <p>Baixar Curriculo</p>
        </a>

      </div>

    </div>

    <div class="responsive-links">

      <a class="responsive-info-button" href="https://www.linkedin.com/in/kkphoenix/">
        <img src="assets/githubIcon.png" alt="">
        <p>GitHub</p>
      </a>

      <a class="responsive-info-button" href="https://github.com/kkphoenixgx">
        <img src="assets/LinkedIn.png" alt="linkedIn icon">
        <p>LinkedIn</p>
      </a>

      <a class="responsive-info-button" href="assets/Curriculo-English.pdf" download="Curriculo-English.pdf">
        <img src="assets/pdfIcon.png" alt="pdf icon">
        <p>Baixar Curriculo</p>
      </a>

    </div>

  </div>

</div>

<nav class="choice-hsitory">
  <ul>
    <li #firstTab class="currentTab" (click)="handleHistoryLiClick($event)" data-tab ="History">History</li>
    <li (click)="handleHistoryLiClick($event)" data-tab ="Profissional History" >Profissional History</li>
    <li (click)="handleHistoryLiClick($event)" data-tab ="Portifolio" >Portifolio</li>
    <li (click)="handleHistoryLiClick($event)" data-tab ="Hire Me" >Hire Me</li>
  </ul>
</nav>

<app-history *ngIf="currentTab == 'History'" ></app-history>
<app-profissional-history *ngIf="currentTab == 'Profissional History'" ></app-profissional-history>
<app-portifolio *ngIf="currentTab == 'Portifolio'"></app-portifolio>
<app-hire-me *ngIf="currentTab == 'Hire Me'" ></app-hire-me>
<div class="ops" *ngIf="currentTab == undefined" > Ops, something went wrong </div>


