@use "../../styles/variables.scss" as *;

@font-face {
  font-family: "Rajdhani";
  src: url("/assets/fonts/Rajdhani-Regular.ttf");
}

.first-container{
  width: 100vw;
  height: 85vh;
  max-height: 85vh;
  position: relative;
  
  overflow-x: hidden;
  touch-action: pan-y;    // permite scroll vertical
  overflow-y: auto;

  .background {
    position: absolute;
    inset: 0;
    z-index: 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    
    overflow-y: hidden;

    img {
      display: block;
      width: 70px;
      height: 70px; 
      margin: 0;
      will-change: transform;

      pointer-events: none;
      touch-action: none; 
    }
  
  }

  .hello-container{
    position: relative;
    z-index: 1;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 85vh;
    align-items: center;
    justify-content: space-between;
    top: 0vh;
    gap: 2vw;

    touch-action: pan-y;    // permite scroll vertical

    .image-container{

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: center;
      margin-left: 7vw;
      min-width: 180px;

      .image-backgound{
        
        background-color: $black-background;
        display: flex;
        align-items: center;
        border-radius: 100%;
        width: 11rem;
        max-width: 40vw;
        height: 11rem;
        justify-content: center;
        
        img {
          width: 100%;
          max-width: 40vw;
          height: auto;
          min-width: 120px;
          background-color: transparent;
        }
      }


    }

    .text-effect-container{
      flex: 1;
      min-width: 220px;
      max-width: 600px;
      padding: 0 2vw;

      h2{
        font-family: "Rajdhani";
        word-break: break-word;
        margin-right: 3vw;
        margin-top: 5%;

          &::after{
            content: '';
            margin-left: 1%;
            animation: cursor 0.8s infinite;
          }
      }

      .links{
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
        justify-content: flex-start;
        margin-top: 3%;

        .info-button {
          display: flex;
          font-size: 1rem;
          background: $gray-third;
          color: inherit;
          
          align-items: center;
          gap: 0.5em;
          padding: 6px 12px;
          
          border-radius: 6px;
          text-decoration: none;

          transition: background 0.2s;

          img {
            width: 28px;
            height: 28px;
          }
        }

      }

    }
  
  }
}

// ----------- Nice to meet you -----------

.choice-hsitory {
  display: flex;
  background-color: #000000;
  width: 100vw;
  text-align: center;
}
.choice-hsitory ul {
  display: flex;
  color: white;
  width: 100vw;
}
.choice-hsitory li {
  padding: 2%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}


// ----------- Dark mode -----------
.backgroundHelloContainerDarkMode {
  background-color: $gray-second;
  color: #ffffff;
}
.backgroundHelloContainerWhiteMode {
  background-color: $offwhite-default;
  color: #000000;
}

// ----------- Helpers -----------

.currentTab {
  border-bottom: 3px solid $purple-default;
}


// ----------- Animations -----------

@keyframes cursor {
  50% {
    border-right: 4px solid #000000;
  }
}
@keyframes moveY {
  from {
    transform: translateY(0);
  }
  to {
      transform: translateY(550px);
  }
}

// ----------- Mobile -----------

/* Smartphones (portrait) */
@media only screen and (max-width: 767px) {
  .hello-container{
    flex-direction: column;
    justify-content: center !important;

    .image-container {
      justify-content: center !important;
      align-items: center !important;
      margin-left: 0 !important;
    }
  
    .text-effect-container{
      flex: none !important;
      background-color: $black-background;
      margin: 3%;
      padding: 3% !important;

      h2{
        text-align: center;
        min-width: 100%;
        margin: 0 !important;
        min-height: 12vh;
      }
      
      .links{
        justify-content: center !important;
      }

    }
  }
}
