@use '@angular/material' as mat;
@use "./app/styles/variables.scss" as *;
@include mat.core();

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html, body {
  width: 100%;
  overflow-x: hidden !important;
  min-height: 100%;
  position: relative;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $gray-default; }
