@use '@angular/material' as mat;
@use "./app/styles/variables.scss" as *;
@include mat.core();

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html, body { 
  overflow-x: hidden;
  max-width: 100vw;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $gray-default; }
